.input {
  margin: 10px;
  border: 1px solid;
  width: 600px;
}

.keyword {
  display: inline-block;
  width: 80px;
}

.operand {
  display: inline-block;
  width: 160px;
}

.operator {
  display: inline-block;
  width: 80px;
}

.plus {
  width: 23px;
}
