<div class="container">
  <h1>Reaction to Long-tailed Change</h1>
  <p>
    Process ID: <input [(ngModel)]="processId">
    <button (click)="setProcessId()">Save</button>
  </p>
  <p><a href="/assets/public-2/index.html">Annotation & Constraint</a></p>
  <!--  <p><a href="/assets/public/index.html">Annotation</a></p>-->
  <p><a routerLink="/process-model-list">Process Model</a></p>
  <p><a routerLink="/process-variable-list">Process Variable</a></p>
  <!--  <p><a routerLink="/generator">Value Range</a></p>-->
  <p><a routerLink="/public-api-list">Third-party API</a></p>
  <p><a routerLink="/instance-migration-list">Instance Migration</a></p>
  <p><a routerLink="/process-log">Process Log</a></p>
</div>
