<div class="container">
  <h1>Third-party API</h1>
  <p>
    <button (click)="save()">Save</button>
  </p>
  <p>
    <span class="label">Name</span>
    <input class="value" [(ngModel)]="publicApi.name">
  </p>
  <p>
    <span class="label">Method</span>
<!--    <select class="value" [(ngModel)]="publicApi.method">-->
<!--      <option *ngFor="let method of methods">{{method}}</option>-->
<!--    </select>-->
    <input class="value" [(ngModel)]="publicApi.method">
  </p>
  <p>
    <span class="label">URL</span>
    <input class="value" [(ngModel)]="publicApi.url">
  </p>
  <p>
    <span class="label">Inputs</span>
    <button class="plus" (click)="addInput()">+</button>
  </p>
  <p *ngFor="let index of range(publicApi.inputFroms.length)">
    <input class="io" [(ngModel)]="publicApi.inputFroms[index]">
    <span>-&gt;</span>
    <input class="io" [(ngModel)]="publicApi.inputTos[index]">
    <button class="plus" (click)="deleteInput(index)">-</button>
  </p>
  <p>
    <span class="label">Outputs</span>
    <button class="plus" (click)="addOutput()">+</button>
  </p>
  <p *ngFor="let index of range(publicApi.outputFroms.length)">
    <input class="io" [(ngModel)]="publicApi.outputFroms[index]">
    <span>&lt;-</span>
    <input class="io" [(ngModel)]="publicApi.outputTos[index]">
    <button class="plus" (click)="deleteOutput(index)">-</button>
  </p>
  <p *ngIf="message" class="message">
    {{message}}
  </p>
</div>
